# Dependencias
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Variables de entorno
.env

# Archivos de registro
logs/
*.log

# Directorio de construcción
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo 